<div class="footer">
    <div class="container">
        <span class="text-muted">Developed by <a href="https://github.com/mpassos11/markdown-blog">Matheus Passos</a></span>
    </div>
</div>
</body>
</html>