<%- include('../partials/header.ejs') %>
<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h4>New Article</h4>
        </div>
        <div class="body">
            <form action="/articles" method="post" style="padding: 10px;">
                <%- include('_form_fields') %> 
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %> 